.primary-button {
  width: 200px;
  height: 60px;
  margin: 10px;
  background-color: rgb(236, 89, 10);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 22px;
}

.primary-button:hover {
  width: 200px;
  height: 60px;
  margin: 10px;
  background-color: rgb(144, 36, 3);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 22px;
}
