.card {
  width: 180px;
  min-height: 200px;
  border-radius: 1rem;
  background-color: var(--secondaryColor);
  padding: 5px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
}

.image-card {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
h3 {
  color: white;
  font-size: 18px;
}
