.navbar {
  width: 100%;
  height: 8vh;
  background-color: var(--primaryColor);
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  /* z-index: -91; */
}

.logo {
  width: 200px;
  margin: 20px;
  padding-bottom: 3px;
}

.link-text {
  color: white;
  list-style: none;
  margin: 20px;
  margin-bottom: 30px;
  display: flex;
  text-decoration: none;
  cursor: pointer;
  font-size: larger;
  font-weight: 500;
  /* gap: 3rem; */
  display: inline-block;
}

.nav-text-container {
  margin-right: 30px;
}

.link-text:hover {
  color: var(--secondaryColor);
}

/* .active {
  color: var(--secondaryColor);
} */

.shoppinglist-title {
  color: var(--buttonHover);
}
