@import "./pages/home/home.module.css";
@import "./pages/meals/meals.module.css";
@import "./pages/category/category.module.css";
@import "./components/card/card.module.css";
@import "./components/sideBarCategories/sideBarCategories.module.css";
@import "./components/navBar/navBar.module.css";
@import "./components/primaryButton/primaryButton.module.css";
@import "./components/recipes/resipes.module.css";
@import "./components/shoppingList/shoppingList.module.css";

:root {
  /* COLORS */
  --primaryColor: #295b01;
  --secondaryColor: #98c29c;
  --black: #000000;
  --white: #fff;
  --blackTransparent: rgba(0, 0, 0, 0.74);
  --buttonColor: rgb(236, 89, 10);
  --buttonHover: rgb(144, 36, 3);
}
