@import "./pages/home/home.module.css";
@import "./pages/meals/meals.module.css";
@import "./pages/category/category.module.css";
@import "./components/card/card.module.css";
@import "./components/sideBarCategories/sideBarCategories.module.css";
@import "./components/navBar/navBar.module.css";
@import "./components/primaryButton/primaryButton.module.css";

.App {
  text-align: center;
}

:root {
  /* COLORS */
  --primaryColor: #144f1b;
  --secondaryColor: #98c29c;
  --black: #000000;
  --white: #fff;
  --blackTransparent: rgba(0, 0, 0, 0.74);
  --greyColor: #525252;
  --lightGreyColor: #808080;
}
